* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #272c2e;
    color: aliceblue;
}

input {
    width: 0;
    height: 0;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 20px 0px;
}

.container {
    max-width: 80em;
    margin: 0 auto;
    padding: 0px 20px;
}


.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.slide>img {
    width: 0px;
    height: 600px;
    object-fit: contain;
    transition: all 0.5s ease;
}

.slider__track {
    display: flex;
    overflow: hidden;
}



.bottom-slider>.box__text>.slider__text {
    font-size: 0;
    transition: all 0.5s ease;
}

.bottom-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.box__label {
    display: flex;
    gap: 5px;
}


.slider__text {
    color: aliceblue;
    font-size: 24px;
}

.btn {
    display: block;
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #2957ec;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: #fff;
}


#slide-one:checked~.slider__track>.slider__slide1>img {
    display: block;
    width: 700px;
}

#slide-two:checked~.slider__track>.slider__slide2>img {
    display: block;
    width: 700px;
}

#slide-three:checked~.slider__track>.slider__slide3>img {
    display: block;
    width: 700px;
}

#slide-four:checked~.slider__track>.slider__slide4>img {
    display: block;
    width: 700px;
}

#slide-five:checked~.slider__track>.slider__slide5>img {
    display: block;
    width: 700px;
}

#slide-six:checked~.slider__track>.slider__slide6>img {
    display: block;
    width: 700px;
}




#slide-one:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(1) {
    font-size: 24px;
}

#slide-two:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(2) {
    font-size: 24px;
}

#slide-three:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(3) {
    font-size: 24px;
}

#slide-four:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(4) {
    font-size: 24px;
}

#slide-five:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(5) {
    font-size: 24px;
}

#slide-six:checked~.bottom-slider>.box__text>.slider__text:nth-of-type(6) {
    font-size: 24px;
}




#slide-one:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(1)>.btn {
    background-color: #2957ec;
}

#slide-two:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(2)>.btn {
    background-color: #2957ec;
}

#slide-three:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(3)>.btn {
    background-color: #2957ec;
}

#slide-four:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(4)>.btn {
    background-color: #2957ec;
}

#slide-five:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(5)>.btn {
    background-color: #2957ec;
}

#slide-six:checked~.bottom-slider>.box__label>.slider__box:nth-of-type(6)>.btn {
    background-color: #2957ec;
}