* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #42414191;
}

.wrapper {
	max-width: 1440rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	
}

.slider-box {
	/* display: flex; */

}


.slider-item {
	display: none;
	opacity: 0;
	animation: slide-anim 2s ease;
}


.slider-item:target {
	display: block;
	opacity: 1;
}


@keyframes slide-anim {
	0% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}

.pic {
	margin: 0.8rem;
}

.slid {
	width: 100%;
	max-height: 45rem;
	object-fit: contain;
}

.texeAndDots {
	display: flex;
	justify-content: space-between;
}


.slide-text {
	margin: 0rem 0.8rem;
	font-size: 1.5rem;
}


.slider-dots {
	display: inline-flex;
	gap: 0.5rem;
}

.dot {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0.1em solid #254774;
	cursor: pointer;
}

.dot:hover {
	background-color: #254774;
} 


