* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000d2;
}

.wraper {
	max-width: 190rem;
	margin: 0 auto;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	
}



.slider {
	max-width: 80rem;
	border: 0.3rem solid #817a7a;
	padding: 1.2rem;
}

input {
	visibility: hidden;
}

.slider-items {
	display: none;
	opacity: 0;
}


.slider-items img {
	width: 100%;
}

.text {
	color: aliceblue;
	font-size: 3rem;
}

@media (max-width: 786px) {
	.text {
		font-size: 2rem;
	}
}


.nav {
	display: flex;
	gap: 0.8rem;
}

.text-and-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.8rem 0rem;
}

@media (max-width: 950px) {
	.text {
		flex-basis: 100%;
		margin: 1rem 0rem;
	}
	.text-and-nav {
		flex-wrap:wrap-reverse;
		justify-content: center;
	}
	.nav {
		margin: 1rem 0rem;
	}
}


.dot-label {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pseudo-dot {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color: #f0e9e9;
	cursor: pointer;
}

@media (max-width: 750px) {
	.pseudo-dot{
		width: 1.3rem;
		height: 1.3rem;
	}
	.text {
		font-size: 1.5rem;
	}
	.nav {
		gap: 0.5rem;
	} 
}

@media (max-width: 450px) {
	.pseudo-dot {
		width: 1rem;
		height: 1rem;
	}
	.text {
		font-size: 1.2rem;
	}
	.nav {
		gap: 0.2rem;
	} 
}


.pseudo-dot:hover {
	background-color: #7149a7;
	transform: scale(1.2);
	transition: all 0.5s ease;
}

.pseudo-dot:active {
	background-color: #4e3272b9;
	transition: all 0.5s ease;
}

.pseudo-dot:visited {
	background-color: #4e3272b9;
	transition: all 0.5s ease;
}

#btn1:checked ~.slide-1 {
	display: block;
	opacity: 1;
	animation: slide-show 2s ease;
}

#btn1:checked ~.slide-1  >.text-and-nav >.nav >.label-dot1 >.pseudo-dot{
	background-color: #7149a7;
	transform: scale(1.2);
}

#btn2:checked ~.slide-2 {
	display: block;
	opacity: 1;
	animation: slide-show 2s ease;
}

#btn2:checked ~.slide-2 >.text-and-nav >.nav >.label-dot2 >.pseudo-dot{
	background-color: #7149a7;
	transform: scale(1.2);
}

#btn3:checked ~.slide-3 {
	display: block;
	opacity: 1;
	animation: slide-show 2s ease;
}

#btn3:checked ~.slide-3 >.text-and-nav >.nav >.label-dot3 >.pseudo-dot{
	background-color: #7149a7;
	transform: scale(1.2);
}

#btn4:checked ~.slide-4 {
	display: block;
	opacity: 1;
	animation: slide-show 2s ease;
}

#btn4:checked ~.slide-4 >.text-and-nav >.nav >.label-dot4 >.pseudo-dot {
	background-color: #7149a7;
	transform: scale(1.2);
}

#btn5:checked ~.slide-5 {
	display: block;
	opacity: 1;
	animation: slide-show 2s ease;
}

#btn5:checked ~.slide-5 >.text-and-nav >.nav >.label-dot5 >.pseudo-dot {
	background-color: #7149a7;
	transform: scale(1.2);
}

@keyframes slide-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}